<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/contact">Interests/contact</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/talks">Talks/Conferences</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/supervision">Supervision</a></li>
	        		<li><a href="/events">Academic Events</a></li>
	        		<li><a href="/repositories">Repositories</a></li>
	        		<li><a href="/impressum">Impressum</a></li>
	        		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thomas.koentges@uni-leipzig.de">email</a></li>
	        		<li><a href="https://github.com/github.com/thomask81">github.com/thomask81</a></li>
				</ul>
			</footer>
		</body>
	</html>
